*.ipynb
*.pyc
fixtures/output/*.*
fixtures/embeddings/*.*
fixtures/reference/*.*
fixtures/reference-download/*.*
fixtures/cleaned/*.*
fixtures/local_input/*.*
fixtures/big_input
fixtures/dumps
fixtures/output_cl100k/
fixtures/reference-download-questions
fixtures/reference-download-questions-and-answers
fixtures/reference-download-best-available
fixtures/reference-questions
fixtures/reference-questions-and-answers
fixtures/reference-best-available
tests/output
test_daemon.sh
test_multi_thread.sh
