*.ipynb
*.pyc
fixtures/output/*.*
fixtures/embeddings/*.*
fixtures/reference/*.*
fixtures/reference-download/*.*
fixtures/cleaned/*.*
fixtures/local_input/*.*
tests/output
test_daemon.sh
test_multi_thread.sh
